<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head" />
<body>

<div class="container-fluid">
  <div class="text-center"><h2>[[${pagetitle}]]</h2></div>

  <form th:action="@{/documents/save}" th:method="post" th:object="${document}" style="max-width: 500px; margin: 0 auto;" enctype="multipart/form-data">
    <div class="border border-secondary rounded p-md-3">

      <div class="visually-hidden">
        <div class="col-sm-8">
          <input type="text" th:field="*{id}">
        </div>
      </div>

      <div class="form-group row m-3">
        <label class="col-sm-4 col-form-label" th:bgcolor="red">Рег.№ *</label>
        <div class="col-sm-8">
          <input type="text"  class="form-control" th:field="*{regNumber}">
          <p class="alert alert-danger" th:if="${#fields.hasErrors('regNumber')}" th:errors="*{regNumber}"></p>
        </div>
      </div>

      <div class="form-group row m-3">
        <label class="col-sm-4 col-form-label">№ исх. док-та </label>
        <div class="col-sm-8">
          <input type="text" class="form-control" th:field="*{numOfDoc}" required>
          <p class="alert alert-danger" th:if="${#fields.hasErrors('numOfDoc')}" th:errors="*{numOfDoc}"></p>
        </div>
      </div>
      <div class="form-group row m-3">
        <label class="col-sm-4 col-form-label">Дата исх. док-та </label>
        <div class="col-sm-8">
          <div class="input-group date" id="dateOfdocument">
            <input type="text" class="form-control"  autocomplete="off" th:field="*{datedoc}"/>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('datedoc')}" th:errors="*{datedoc}"></p>
            <div class="input-group-append">
              <span class="input-group-text"><i class="far fa-calendar-alt m-1"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row m-3">
        <label class="col-sm-4 col-form-label">Форма доставки</label>
        <div class="col-sm-8">
          <select class="form-select form-select-sm" aria-label=".form-select-sm example" th:field="*{deliverytype}">
            <p class="alert alert-danger" th:if="${#fields.hasErrors('deliverytype')}" th:errors="*{deliverytype}"></p>
            <option value="Курьер">Курьер</option>
            <option value="Email">Email</option>
            <option value="Телефонограмма">Телефонограмма</option>
          </select>
        </div>
      </div>
      <div class="form-group row m-3">
        <label class="col-sm-4 col-form-label">Корреспондент</label>
        <div class="col-sm-8">
          <select class="form-select form-select-sm" aria-label=".form-select-sm example" th:field="*{partner}">
            <p class="alert alert-danger" th:if="${#fields.hasErrors('partner')}" th:errors="*{partner}"></p>
            <option value="ЦБ">ЦБ</option>
            <option value="ГНИ">ГНИ</option>
            <option value="ТСЖ">ТСЖ</option>
          </select>
        </div>
      </div>
      <div class="form-group row m-3">
        <label class="col-sm-4 col-form-label">Тема</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" th:field="*{theme}" required>
          <p class="alert alert-danger" th:if="${#fields.hasErrors('theme')}" th:errors="*{theme}"></p>
        </div>
      </div>
      <div class="form-group row m-3">
        <label class="col-sm-5 col-form-label">Сроки сполнения</label>
        <div class="col-sm-7">
          <div class="input-group date" id="timeExecution" >
            <input type="text" class="form-control" autocomplete="off" th:field="*{timeExecution}"/>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('timeExecution')}" th:errors="*{timeExecution}"></p>
            <div class="input-group-append">
              <span class="input-group-text"><i class="far fa-calendar-alt m-1"></i></span>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row m-3" >
        <label class="col-sm-4 col-form-label">Файл</label>
        <div class="col-sm-8">
          <div class="file-loading" >
            <input type="file" name="multik">
            <p class="alert alert-danger" th:if="${#fields.hasErrors('file')}" th:errors="*{file}"></p>
          </div>
        </div>
      </div>


      <div class="form-group row m-3">
        <label class="form-check-label col-sm-3" for="inlineCheckbox1">Доступ</label>
        <input class="form-check-input col-sm-12" type="checkbox" id="inlineCheckbox1" value="option1" th:field="*{access}">

        <label class="form-check-label col-sm-3" for="inlineCheckbox2">Контроль</label>
        <input class="form-check-input col-sm-12" type="checkbox" id="inlineCheckbox2" value="option2" th:field="*{control}">
      </div>
      <div class="form-group row m-3">
        <label class="col-sm-4 col-form-label">Описание</label>
        <div class="m4">
          <textarea type="text" class="form-control" th:field="*{description}" ></textarea>
          <p class="alert alert-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary" m-3>Сохранить</button>
        <button type="button" class="btn btn-secondary m-3" onclick="cancelForm()" >Закрыть</button>
      </div>

    </div>
  </form>


</div>
</body>
</html>